<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <h2>Category</h2>

          <app-category-productsr></app-category-productsr>

          <app-brands-products></app-brands-products>

          <app-price-range></app-price-range>

          <app-shipping></app-shipping>

        </div>
      </div>

      <div class="col-sm-9 padding-right">

        <app-features-items></app-features-items>

      </div>
    </div>
  </div>
</section>
